*{
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;

    color: white;
}

body{
    background-color: orange;
    font-family: sans-serif;
}

nav{
    transform-origin: top;

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 5rem;

    display: inline-flex;

    background-color: RGBA(255, 255, 255, 0.8);
}

.nav-links{
    display: inline-flex;
    width: min-content;

    padding: 1rem;
    margin-left: auto;
    align-items: center;
}

nav img{
    margin-left: 1vw;
    padding-top: 1vh;
}

.nav-links a{
    padding: 0.7em 0.8em 0.7em 0.8em;
    margin: 0.2em;

    display: block;
    font-size: x-large;
    text-decoration: none;

    border-radius: 1em;

    color: orangered;
}
.nav-links a:hover{
    background-color: sienna;
    color: white;
}
.nav-links a:active{
    transition: none;
    box-shadow: inset 0 0 5em 0.3em black;

    color: white;
    background-color: #5A6896;

    transition: 0.2s ease-out;;
}

.anchor-button{
    font-size: 1.1em;
    padding: 0.8em 1.1em 0.8em 1.1em;

    background-color: orangered;
    color: white;

    border-radius: 0.2em;
    display: inline-block;
}

.hero{
    width: 100%;
    padding: 4rem;
    height: 37vh;

    margin-top: 5rem;
    font-size: large;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/banner.jpg');
    background-size: cover;
    color: white;
}

.past{
    max-width: 73rem;
    margin: auto;
}
.past *:not(a){
    color: black;
}

.card{
    background-color: antiquewhite;

    border-radius: 1em;
    padding: 2rem;

    color: black;
}